html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
}

.c-app-wrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.c-app {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: Menlo, Helvetica, Arial, sans-serif;
}

.c-app__sidebar-spacer {
  min-width: 320px;
  width: 320px;
  height: 100%;
  z-index: -1;
}

.c-artboard {
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.33);
  z-index: 3;
}

.c-sidebar {
  position: fixed;
  background: #333;
  min-width: 320px;
  width: 320px;
  height: 100%;
  z-index: 3;
  overflow: scroll;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.c-sidebar__section {
  position: relative;
}

.c-sidebar__placeholder {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.c-sidebar__placeholder span {
  color: rgba(255, 255, 255, 0.33);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.c-sidebar__header {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  height: 22px;
  line-height: 22px;
  background: rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.c-sidebar-layer__name {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 20px;
}

.c-sidebar-layer__styles {
  padding: 0 20px 20px 20px;
}

.c-sidebar-layer__css {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.c-sidebar-layer__prop {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  flex-grow: 2;
}

.c-sidebar-layer__value {
  position: relative;
}
.c-sidebar-layer__value input {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  max-width: 100px;
  padding: 5px;
  transition: all 0.25s;
}
.c-sidebar-layer__value input:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.c-sidebar-layer__value input:focus {
  outline: none;
  border: 1px solid magenta;
}

.c-sidebar-layer__swatch-group {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  z-index: -1;
  left: 100%;
  display: flex;
  justify-content: flex-end;
}

.c-sidebar-layer__swatch {
  width: 3.3px;
}

.c-sidebar-layer__swatch--image {
  width: 100%;
}

.c-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.c-canvas__canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
.c-canvas__canvas:focus {
  outline: none;
}

.c-canvas__escape {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}

.c-canvas__controls {
  position: abolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33px;
  display: flex;
  justify-content: space-between;
  z-index: 1000000000000000100;
}

.c-canvas-control {
  height: 100%;
  background: black;
  color: white;
  line-height: 33px;
  font-size: 14px;
  text-align: center;
  z-index: 1000000000000000100;
}

.c-canvas-control--layers {
  width: 66px;
  height: 100%;
}

.c-canvas-control--zoom {
  display: flex;
  width: 132px;
  height: 100%;
}

.c-canvas-zoom__status {
  width: 50%;
  height: 100%;
}

.c-canvas-zoom__buttons {
  display: flex;
  width: 50%;
  height: 100%;
}

.c-canvas-zoom-button {
  width: 50%;
  height: 100%;
}

.c-canvas-zoom-button--out {
  background: red;
}

.c-canvas-zoom-button--in {
  background: yellow;
}

.c-layers {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.c-layers__click-area {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.c-layer {
  position: absolute;
  display: block;
  box-sizing: content-box;
  z-index: 2;
}

.c-layer--text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.c-layer--shape {
  overflow: visible;
}

.c-layer__text {
  word-wrap: break-word;
}

.c-layer--selection {
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.c-selection__points,
.c-selection__rules {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.c-selection__point {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 1px;
  border: 0.5px solid rgba(0, 0, 0, 0.33);
  background: white;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.c-selection__point--tl {
  left: 0;
  top: 0;
}

.c-selection__point--tr {
  right: 0;
  top: 0;
}

.c-selection__point--tc {
  left: 50%;
  top: 0;
}

.c-selection__point--lc {
  left: 0;
  top: 50%;
}

.c-selection__point--rc {
  right: 0;
  top: 50%;
}

.c-selection__point--bl {
  left: 0;
  bottom: 0;
}

.c-selection__point--bc {
  left: 50%;
  bottom: 0;
}

.c-selection__point--br {
  right: 0;
  bottom: 0;
}

.c-selection__dim {
  position: absolute;
  height: 16px;
  background: blue;
  color: white;
  font-size: 10px;
  line-height: 16px;
  padding: 0 6px;
  border-radius: 12px;
  text-align: center;
  z-index: 5;
}

.c-selection__rule {
  position: absolute;
  background: blue;
}
.c-selection__rule:after {
  position: absolute;
  content: "";
  display: block;
  background: blue;
}

.c-selection__rule--t,
.c-selection__rule--b {
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
}
.c-selection__rule--t:after,
.c-selection__rule--b:after {
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 10px;
}

.c-selection__rule--t:after {
  top: 0;
}

.c-selection__rule--b:after {
  bottom: 0;
}

.c-selection__rule--r,
.c-selection__rule--l {
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
}
.c-selection__rule--r:after,
.c-selection__rule--l:after {
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 1px;
}

.c-selection__rule--l:after {
  left: 0;
}

.c-selection__rule--r:after {
  right: 0;
}

.c-layer--hover {
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 0 0 1px blue inset, 0 0 0 1px blue;
}

.c-hover__rules {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.c-hover__rule {
  position: absolute;
}

.c-hover__rule--tl,
.c-hover__rule--tr,
.c-hover__rule--bl,
.c-hover__rule--br {
  width: 1px;
}

.c-hover__rule--tl,
.c-hover__rule--bl {
  border-left: 1px dashed red;
  left: -1px;
}

.c-hover__rule--tr,
.c-hover__rule--br {
  border-right: 1px dashed red;
  right: -1px;
}

.c-hover__rule--rt,
.c-hover__rule--rb,
.c-hover__rule--lt,
.c-hover__rule--lb {
  height: 1px;
}

.c-hover__rule--rt,
.c-hover__rule--lt {
  border-top: 1px dashed red;
  top: -1px;
}

.c-hover__rule--rb,
.c-hover__rule--lb {
  border-bottom: 1px dashed red;
  bottom: -1px;
}
