# build artefacts
# sr-measure.sketchplugin

resources/export
resources/store
resources/ui

# npm
node_modules
.npm
npm-debug.log
package-lock.json

# mac
.DS_Store

# WebStorm
.idea

# sketch
# sketch-assets
