# build artefacts
sr-measure.sketchplugin
assets/icon.sketch

resources/export
resources/store
resources/ui/components
resources/ui/styles
resources/ui/index.js
resources/ui/spec.js
resources/ui/utils.js
resources/ui/style.css

# npm
node_modules
.npm
npm-debug.log
package-lock.json

# mac
.DS_Store

# WebStorm
.idea

# sketch
# sketch-assets
