.c-artboard
  position: relative
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.33)
  z-index: 3
  transform-origin: center center
  animation: fadeInDelayed 0.5s ease

  &:focus
    outline: none

.c-artboard__click-area
  +absolute-full

.c-artboard__layers
  +absolute-full
  overflow: hidden