.c-back-button
  position: fixed
  top: 48px
  left: $sidebarWidth
  height: $buttonSize
  padding: 0 16px
  line-height: $buttonSize
  font-size: 14px
  background: $grayDark
  color: #fff
  margin: 8px
  box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.25) inset, 0px 5px 10px 0px rgba(0,0,0,0.50)
  z-index: 99999999999

  &:hover
    background: $highlightColor