.c-canvas
  position: relative
  display: flex
  align-items: center
  justify-content: center
  z-index: 2
  width: $canvasSize
  height: $canvasSize
  background: $grayDarkest
  overflow: scroll

.c-canvas__escape
  +absolute-full
  z-index: 1