.c-canvas
  position: relative
  left: $sidebarWidth
  top: 0
  z-index: 2
  width: $canvasSize
  height: $canvasSize
  background: $grayDarker
  overflow: scroll

.c-canvas__escape
  +absolute-full
  z-index: 1

.c-canvas__artboard
  +absolute-full
  padding: $ruleSize

.c-canvas-controls
  position: fixed
  width: 100%
  top: 0
  height: $control-bar-height
  background: $gray
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.15)
  z-index: 9999999999999999999999999999999999