$borderWidth: 1px
$borderStyle: dashed

.c-layer--hover
  z-index: 3
  pointer-events: none

.c-hover__rules
  +absolute-full

.c-hover__rule
  position: absolute

.c-hover__rule--top-left,
.c-hover__rule--top-right,
.c-hover__rule--bottom-left,
.c-hover__rule--bottom-right
  width: 1px

.c-hover__rule--top-left,
.c-hover__rule--bottom-left
  border-left: $borderWidth $borderStyle
  left: -1px

.c-hover__rule--top-right,
.c-hover__rule--bottom-right
  border-right: $borderWidth $borderStyle
  right: -1px

.c-hover__rule--right-top,
.c-hover__rule--right-bottom,
.c-hover__rule--left-top,
.c-hover__rule--left-bottom
  height: 1px

.c-hover__rule--right-top,
.c-hover__rule--left-top
  border-top: $borderWidth $borderStyle
  top: -1px

.c-hover__rule--right-bottom,
.c-hover__rule--left-bottom
  border-bottom: $borderWidth $borderStyle
  bottom: -1px