.c-layer
  position: absolute
  display: block
  box-sizing: content-box
  z-index: 2

.c-layer--text
  display: flex
  flex-direction: column
  overflow: hidden

.c-layer--shape
  overflow: visible

  svg
    +absolute-full

.c-layer__text
  word-wrap: break-word
