$chevronSize: 8px

.c-note-compose
  +absolute-full
  z-index: 9999999999999999999999999999999999

  &:before
    +content-block
    width: calc(100% + 32px)
    height: calc(100% + 32px)
    top: -16px
    left: -16px

.c-compose
  position: absolute
  display: flex
  flex-direction: column
  width: 400px
  background: $grayDark
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.33)
  z-index: 9999999999999999999999999999999999
  transform: translate(-50%, $chevronSize)
  transform-origin: center top
  will-change: transform

  &:before
    +content-block
    top: -$chevronSize
    left: 50%
    transform: translate(-50%, 0)
    width: 0
    height: 0
    border-left: $chevronSize solid transparent
    border-right: $chevronSize solid transparent
    border-bottom: $chevronSize solid $grayDark

.c-compose__content
  opacity: 0

.c-compose__header
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  height: 48px
  padding: 0 8px
  font-weight: 700

.c-compose__footer
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.c-compose__title
  padding-left: 8px
  color: #fff
  font-size: 16px

.c-compose__close
  height: $buttonSize
  width: $buttonSize
  display: flex
  align-items: center
  justify-content: center
  transition: all $transitionNormal
  border-radius: $buttonBR

  &:hover
    background: $highlightColor

.c-compose__body
  height: 68px
  width: 100%
  position: relative

.c-compose__submit
  position: relative
  width: 100%
  height: 48px
  line-height: $buttonSize
  font-size: 14px
  color: #fff
  text-align: center
  cursor: not-allowed
  display: flex
  align-items: center
  justify-content: center

  svg
    z-index: 1

.c-compose__submit--enabled
  font-weight: bold
  cursor: pointer

  &:before
    +content-block
    background: $highlightColor
    transition: background $transitionNormal
    animation: growInHeight $transitionNormal ease
    transform-origin: center top
    z-index: 0

  &:hover
    &:before
      background: $highlightColorDark

.c-compose__input-bb
  position: absolute
  background: $highlightColor
  top: 100%
  width: 100%
  height: 1px
  transform: scaleX(0)

.c-compose__input
  position: relative
  width: 100%
  height: 100%
  font-size: 14px
  margin: 0
  padding: 16px
  line-height: 18px
  background: $grayDark
  color: #fff
  resize: none
  border: none
  outline: none
  transition: all $transitionNormal
  box-shadow: 0px 1px 0px 0px $grayLighter


