.c-canvas__rules
  +absolute-full

.c-canvas__cornerstone
  position: fixed
  height: $ruleSize
  width: $ruleSize
  background: $grayDarkest
  z-index: 999999999999
  box-shadow: 0px 0px 0px 1px $grayLighter inset

.c-canvas__rule
  position: fixed
  width: 100%
  height: $ruleSize
  z-index: 999999999
  background: $grayDarkest
  overflow: hidden
  box-shadow: 0px 1px 0px 0px $grayLighter inset, 0px -1px 0px 0px $grayLighter inset

  canvas
    position: absolute
    top: 0
    left: $ruleSize
    width: $canvasSize
    height: $ruleSize

.c-canvas__rule--left
  transform: rotate(90deg) translateY(-$ruleSize)
  transform-origin: left top

.c-rule-highlight
  position: absolute
  top: 0
  left: $ruleSize
  height: $ruleSize
  background: $highlightColor
  opacity: 0.25
  transform-origin: left top