$headerHeight: 40px
$cellHeight: 36px
$cellPadding: 16px

.c-sidebar
  position: fixed
  background: $grayDark
  min-width: $sidebarWidth
  width: $sidebarWidth
  height: 100%
  z-index: 3
  overflow: scroll
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.25)

.c-sidebar__section
  position: relative
  background: $grayDark

.c-sidebar__placeholder
  height: 150px
  display: flex
  align-items: center
  justify-content: center
  padding: 0 $cellPadding

  span
    color: $textLighter
    font-size: 14px
    line-height: 24px
    text-align: center

.c-sidebar__header
  margin: 0
  padding: 0
  font-size: 14px
  color: #fff
  font-weight: 700
  height: $headerHeight
  line-height: $headerHeight
  background: $gray
  padding: 0 $cellPadding

.c-sidebar-layer__name
  margin: 0
  padding: 0
  font-size: 14px
  color: #fff
  height: $headerHeight
  line-height: $headerHeight
  padding: $cellPadding

.c-sidebar-layer__styles
  padding: 0 $cellPadding $cellPadding * 2 $cellPadding

.c-sidebar-layer__css
  display: flex
  align-items: center
  height: $cellHeight

.c-sidebar-layer__prop
  color: #fff
  font-size: 14px
  line-height: 20px
  flex-grow: 2
  color: $textLighter

.c-sidebar-layer__value
  position: relative

  input
    border: none
    margin: 0
    background: $grayDarker
    height: 16px
    font-size: 14px
    line-height: 16px
    color: #fff
    max-width: 100px
    padding: 8px
    transition: all 0.25s

    &:hover
      background: $grayDarkest

    &:focus
      outline: none
      background: $grayDarkest

.c-sidebar-layer__swatch-group
  +absolute-full
  width: $cellPadding
  overflow: hidden
  left: 100%
  display: flex
  justify-content: flex-end

.c-sidebar-layer__swatch
  width: 25%

.c-sidebar-layer__swatch--image
  width: 100%
