$headerHeight: 48px
$cellHeight: 32px
$cellPadding: 16px
$styleHeight: 40px

.c-sidebar
  position: fixed
  background: $grayDarker
  min-width: $sidebarWidth
  width: $sidebarWidth
  height: 100%
  z-index: 3
  overflow-y: scroll
  overflow-x: hidden
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.25)
  padding-bottom: 48px

.c-sidebar__section
  position: relative
  background: $grayDarker

.c-sidebar__placeholder
  height: 150px
  display: flex
  align-items: center
  justify-content: center
  padding: 0 $cellPadding

  span
    color: $textLighter
    font-size: 14px
    line-height: 24px
    text-align: center

.c-sidebar__header
  margin: 0
  padding: 0
  font-size: 14px
  color: #fff
  font-weight: 700
  height: $headerHeight
  line-height: $headerHeight
  background: $grayDark
  padding: 0 $cellPadding
  box-shadow: 0px 1px 0px 0px $grayLighter, 0px -1px 0px 0px $grayLighter

.c-sidebar-layer__styles
  padding: $cellPadding

.c-sidebar-layer__css
  display: flex
  align-items: center
  height: $styleHeight

.c-sidebar-layer__prop
  color: #fff
  font-size: 14px
  line-height: $styleHeight
  flex-grow: 2
  color: $textLighter

.c-sidebar-layer__value
  position: relative
  max-height: $styleHeight
  display: flex

  input
    border: none
    margin: 0
    background: $grayDarker
    min-height: 16px
    font-size: 14px
    line-height: 16px
    color: #fff
    max-width: 100px
    padding: 16px 0
    transition: all $transitionNormal

    &:focus
      outline: none

    &::selection
      background: none

.c-sidebar-layer__value-copy
  +absolute-full
  display: flex
  align-items: center
  justify-content: center
  font-size: 14px
  line-height: 16px
  color: #fff
  pointer-events: none
  overflow: hidden

  &:before
    +content-block
    background: $grayDarkest
    animation: growInWidth $transitionNormal ease
    z-index: 0

  span
    +absolute-full
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    animation: slideInDelayed $transitionSlow ease

.c-sidebar-layer__value-copy--copied
  background: $grayDarkest

  &:before
    +content-block
    background: $highlightColor

  span
    animation: shrinkIn $transitionNormal ease

.c-sidebar-layer__swatch-group
  +absolute-full
  width: $cellPadding
  overflow: hidden
  left: 100%
  display: flex
  justify-content: flex-end
  pointer-events: none

.c-sidebar-layer__swatch
  width: 25%

.c-sidebar-layer__swatch--image
  width: 25%

.c-sidebar__notes
  padding: $cellPadding 0

.c-sidebar__note
  padding: $cellPadding / 2 $cellPadding
  padding-left: $cellPadding * 2
  font-size: 14px
  line-height: $cellHeight
  color: #fff
  position: relative
  min-height: $cellHeight
  word-break: break-word
  transition: background $transitionNormal

  &:hover
    background: $grayDarkest

    .c-sidebar__note-remove
      display: flex
      animation: slideInLeft $transitionNormal ease-out

.c-sidebar__note-content
  display: flex
  align-items: flex-start

  &:before
    position: absolute
    left: 16px
    content: '\2022'
    color: $textLighter
    font-weight: bold
    display: inline-block

  span
    flex-grow: 2

.c-sidebar__note-remove
  height: $buttonSize
  width: $buttonSize
  display: none
  align-items: center
  justify-content: center
  flex-shrink: 0
  margin-left: 4px
  border-radius: $buttonBR
  transition: background $transitionNormal, transform $transitionNormal

  &:hover
    background: $highlightColor
