$buttonSize: 32px

.c-topbar-wrap
  position: relative
  height: $topbarHeight
  width: 100%

.c-topbar
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: $topbarHeight
  background: $grayDark
  box-shadow: 0px 1px 0px 0px $grayLighter
  z-index: 99999999999999999999
  padding: 0 16px

.c-topbar__selection
  position: relative
  height: $topbarHeight
  width: 100%

  span
    +absolute-full
    font-weight: 700
    line-height: $topbarHeight
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    animation: slideInLeft $transitionNormal ease

.c-topbar__controls
  display: flex
  align-items: center
  justify-content: flex-end
  height: $topbarHeight

.c-topbar__control
  display: flex

.c-topbar__zoom-status
  display: flex
  align-items: center
  justify-content: center
  font-size: 12px
  line-height: $buttonSize
  background: $grayDark
  width: $buttonSize * 2
  height: $buttonSizeLg

  ::selection
    background: none

.c-topbar__button-bb
  position: absolute
  top: 100%
  height: 1px
  width: 100%

.c-topbar__button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background: $grayDark
  width: $buttonSizeLg
  height: $buttonSizeLg
  cursor: pointer
  border-radius: $buttonBR

  svg
    z-index: 1

  &:hover

    &:before
      +content-block
      background: $grayDarker
      animation: growInHeight $transitionNormal ease
      z-index: 0
      transform-origin: center top

    .c-topbar__button-bb
      animation: popIn $transitionSlow ease-in
      background: $highlightColor

.c-topbar__button--zoom-in
  border-radius: 0 $buttonBR $buttonBR 0

  &:hover
    &:after
      +tooltip
      content: 'Zoom In'

.c-topbar__button--zoom-out
  border-radius: $buttonBR 0 0 $buttonBR

  &:hover
    &:after
      +tooltip
      content: 'Zoom Out'

.c-topbar__button--refresh

  &:hover
    &:after
      +tooltip
      content: 'Re-Center Canvas'

.c-topbar__button--edit-on

  &:hover
    &:after
      +tooltip
      content: 'Disable Edit'

.c-topbar__button--edit-off

  &:hover
    &:after
      +tooltip
      content: 'Enable Edit'

.c-topbar__button--notes-on

  &:hover
    &:after
      +tooltip
      content: 'Hide Notes'

.c-topbar__button--notes-off

  &:hover
    &:after
      +tooltip
      content: 'Show Notes'

.c-topbar__button--save

  &:hover
    &:after
      +tooltip
      content: 'Export Spec'