$hoverColor: red
$selectionColor: blue
$highlightColor: magenta

$text: rgba(255,255,255,1)
$textLight: rgba(255,255,255,0.75)
$textLighter: rgba(255,255,255,0.5)
$textLightest: rgba(255,255,255,0.25)

$gray: #444
$grayDark: #333
$grayDarker: #222
$grayDarkest: #111

$sidebarWidth: 320px
$control-bar-height: 40px
$ruleSize: 24px
$canvasSize: 20000px