$hoverColor: red
$selectionColor: blue
$highlightColor: magenta
$highlightColorDark: darken($highlightColor, 10%)

$text: rgba(255,255,255,1)
$textLight: rgba(255,255,255,0.75)
$textLighter: rgba(255,255,255,0.5)
$textLightest: rgba(255,255,255,0.25)

$grayLightest: #777
$grayLighter: #666
$grayLight: #555
$gray: #444
$grayDark: #333
$grayDarker: #222
$grayDarkest: #111

$sidebarWidth: 320px
$topbarHeight: 48px
$ruleSize: 24px
$canvasSize: 20000px
$buttonSize: 32px
$buttonSizeSm: 24px